.admin-phicommerce-payment-details div {margin-bottom: 20px;}
.admin-phicommerce-payment-details div span.click-to-copy {word-break: break-all;cursor: pointer;}
.admin-phicommerce-payment-details div span.woocommerce-help-tip {margin: 0 2px 0 2px !important;}
